/* header, body, foot css below */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    height: 100%;
    background-repeat: repeat;
    background-size:cover;
    background-image: url("/img/page-background.jpg");
    background-attachment: fixed;
}
main p
{
    position: absolute;
    top: 50%;
    font-weight: 900;
    font-size:x-large;
    color: white;
    margin-left:45%;

}
.navbar 
{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left:50vh;
    padding-right:50vh;
    color:white;
}
.logo
{
    width:100px;
    height: 100px;
    display: flex;
}
.navbar a
{
    margin-right: 10px;
    padding: 10px 5px;
}
.current-page
{    
    color: black;
    background-color: whitesmoke;
}
.notcurrent-page
{
    color:whitesmoke;
}
footer
{
    position: absolute;
    top: 96%;
    font-size:small;
    color: white;
    /* margin-left:133vh; */
    margin-left:85%;
}
/* "Coming Soon" related css below */