/* header, body, foot css below */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../img/page-background.jpg");
    background-attachment: fixed;
    width: 800px;
    position: relative;
    margin: auto;
    min-height: 100vh;
  }
  .navbar {
    text-align:right;
    color: white;
  }
  .logo {
    width: 100px;
    height: 100px;
    float:left;
  }
  .navbar a {
    margin-top:4%;
    margin-right: 10px;
    padding: 10px 5px;
    float:right;
  }
  .current-page {
    color: black;
    background-color: whitesmoke;
  }
  .notcurrent-page {
    color: whitesmoke;
  }
  footer {
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: small;
    color: white;
  }
  
  /* profile related css */
  h1 {
    color: white;
    margin-bottom: 20px;
  }
  
  .featured-profile {
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .featured-profile img {
    width: 60%;
    float: left;
    margin-right: 20px;
  }
  .featured-profile h2::first-letter {
    font-size: 1.2em;
  }
  .featured-profile h2 {
    margin-bottom: 10px;
  }
  .profile h2::first-letter {
    font-size: 1.2em;
  }
  
  .profile {
    width: 380px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .profile p {
    display: none;
  }
  .profile img {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .profile h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .left-profile {
    margin-right: 20px;
  }
  
  .right-profile {
    margin-left: 20px;
  }
  
  .profile p{
    display: none;
  }
  
  .profile p{
    display: none;
  }

